config.py
__pycache__/
*.pyc
*.swp
*.pem
*.cred
*.cert
*.key
*.crt
*.csr
*.pfx
*.p12
*.p7b
*.p7r
*.der

*.egg-info
*.egg
*.dist-info
*.pyo
*.pyd
*.pyc
*.pyz
*.pyw
*.pyt
*.pye
*.pyv
*.pyu


*._DS_Store
.DS_Store
