<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.6.3.js"></script>


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet", href="static/css/style.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

		<!-- Local Scripts -->
		<script src="/static/js/bootstrapOverlay.js"></script>
		<script src="/static/js/auth.js"></script>
		<script src="/static/js/users.js"></script>
		<script src="/static/imgs/paths.js"></script>
		<script src="static/js/paperList.js">
		<script src="/static/js/icons.js"></script>
		<script src="/static/js/query.js"></script>
		<script src="/static/js/autoStyle.js"></script>
		<script src="/static/js/ui.js"></script>

		<script>
			const qamap = new Map();
		</script>
		<title>Daily Paper Summary</title>

	</head>
	<body scroll="no" style="overflow: hidden">

<template id="summary-template">
	<div class="card" id="cat-summary-container">
		<div class="card-body">
			<h5 class="card-title"></h5>
			<p class="card-text"></p>
			<a class="card-link"></a>
		</div>
	</div>
</template>

		<div class="container-fluid">
			<div class="row flex-nowrap">

				<!-- Sidebar -->
				{{ include_raw('sidebar.html') }}

				<!-- Main -->
				<div class="col py-3">
				  <h1 id="primary_title"></h1>

					<script>
						const timeElapsed = Date.now();
						const today = new Date(timeElapsed);
						document.getElementById("primary_title").innerHTML = "Daily Paper Summary for " + today.toDateString();
					</script>
					
				  <div class="row">
					  <div class="col">
						  <div id="home">
						  </div>
						  <div id="paperList">
						  </div>
					  </div>
				  </div>
				</div>
            </div>
		</div>
	<!-- Scripts -->
	<script>
		async function setup_page () {
			await formatHomePage();
			await formatAllTabs();
			await formatCategoryButtonList();
			await style_for_current_user();
			unauthorized_user_warn();
		};
		setup_page();
	</script>

	<!--Modals-->
	{{ include_raw('modals.html') }}

	<!-- Templates -->
	{{ include_raw('template.html') }}

	<!-- Templates-->
	{{ include_raw('template.html') }}
	</body>
</html>

