<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.6.3.js"></script>


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet", href="static/css/style.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

		<script src="/static/js/bootstrapOverlay.js"></script>
		<script src="/static/js/auth.js"></script>
		<script src="/static/js/users.js"></script>
		<script src="/static/imgs/paths.js"></script>
		<script src="static/js/paperList.js">
		<script src="/static/js/icons.js"></script>
		<script src="/static/js/query.js"></script>
		<script src="/static/js/autoStyle.js"></script>

		<script> const qamap = new Map();</script>

		<title>Daily Paper Summary</title>

	</head>
	<body scroll="no" style="overflow: hidden">
		<div class="container-fluid">
			<div class="row flex-nowrap">

				<!-- Sidebar -->
				<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
					<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
						<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
							<span class="fs-5 d-none d-sm-inline">arXiv Categories</span>
						</a>
					<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="cat-menu">
					</ul>
					<hr>
					<div class="dropdown pb-4">
						<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-circle"></i>
							<span class="d-none d-sm-inline mx-1" id="dsp-user">user</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-dark text-small shadow" id="usr-meanu">
						</ul>
					</div>
					</div>
				</div>

				<!-- Main -->
				<div class="col py-3">
				  <h1 id="primary_title"></h1>

					<script>
						const timeElapsed = Date.now();
						const today = new Date(timeElapsed);
						document.getElementById("primary_title").innerHTML = "Daily Paper Summary for " + today.toDateString();
					</script>
					
				  <div class="row">
					  <div id="home">
					  </div>
					  <div id="paperList">
					  </div>
				  </div>
				</div>
            </div>
		</div>

	<!--Modals-->
	{{ include_raw('modals.html') }}

	<!-- Scripts -->
	<script>
		async function setup_page () {
			await formatAllTabs();
			await formatCategoryButtonList();
			await style_for_current_user();
			unauthorized_user_warn();
		};
		setup_page();
	</script>
	</body>
</html>

