.scrollFade {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--hidden {
	opacity: 0;
	pointer-events: none;
}

.scrollFade--visible {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--animate {
	transition: opacity 0.4s ease-in-out;
}

